**/.*
**/__pycache__
**/*.pyc

!.env


credenciales
scratch

src/analisis

src/extraccion/descartadas

src/extraccion/futuro/analisis_suelo.ipynb
src/extraccion/futuro/PruebasMapas.ipynb
src/extraccion/futuro/ganado.py

src/limpieza
src/modelos
src/main.py


